<!-- [Applicant] TODO: Map employee details -->
<div class="employee-card row">
  <div class="col employee-card--details">
    <div>
      <b>ID:</b>
      <span>{{employee.id}}</span>
    </div>
    <div>
      <b>Name:</b>
      <span>{{employee.firstName}}</span>, <span>{{employee.lastName}}</span>
    </div>
    <div>
      <b>Position:</b>
      <span>{{employee.position}}</span>
    </div>
  </div>
  <!-- [Applicant] TODO: Display only tenured if employee is tenured -->
  <div class="col-2 d-flex justify-content-center align-items-center">
    <span class="font-weight-bold" *ngIf="employee?.isTenured">Tenured</span>
  </div>
  <!-- [Applicant] TODO: Properly map to employee's active value -->
  <div class="col-2 status d-flex justify-content-center align-items-center" [ngClass]="{ 'active': true }">
    <span class="font-weight-bold">{{ employee.isActive ? 'Active' : 'Inactive' }}</span>
  </div>
</div>